.login{
    width:30%;
    margin:50px auto;
    text-align: center;
    box-shadow: 10px 10px 10px black;
    background-color: white;
    position:relative;
}


.login_title{
    width:100%;
    background-color: blue;
    color:white;
    padding:20px;
    text-align: left;
}

.input_space {
    margin-top: 1rem;
    position: relative;
}

.email_input::before {
    content: "";
    background: url(icon/email.png) no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    left: 15%;
    top:0rem;
    display: inline-block;
    position:absolute;
    background-size: cover;
}

.password_input{
    margin-top:2rem;
}

.password_input::before {
    content: "";
    background: url(icon/password.png) no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    left:15%;
    top:0rem;
    display: inline-block;
    position: absolute;
    background-size: cover;
}

input{
    margin-top:10px;
    margin-bottom:15px;
    width:50%;
    border:none;
    outline:none;
    border-bottom: 2px solid #999;
}



button{
    width: 30%;
    background-color: blue;
    color:white;
    border-radius: 5px;
    margin-left:60%;
    padding:5px;
    margin-bottom:10px;
    font-size: 0.5rem;
}



.form__error{
    color:red;
}




@media screen and (max-width: 768px) {
    .login {
        width: 90%;
        margin: 50px auto;
        text-align: center;
        box-shadow: 10px 10px 10px black;
        position: relative;
    }
}